
@{
    ViewBag.Title = "AddMovie";
}


<div class="col-md-8">
    <div class="content">
        <form class="ui form">
            <h4 class="ui dividing header">Add Movie</h4>
            <div class="field">
                
                <div class="two fields">
                    <div class="field">
                        <label>Title</label>
                        <input type="text" name="shipping[first-name]" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Genre</label>
                        <input type="text" name="shipping[first-name]" placeholder="First Name">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui form">
                    <div class="field">
                        <label>Synopsis</label>
                        <textarea></textarea>
                    </div>
                </div>
                </div>

            
            <h4 class="ui dividing header"><i class="linkify icon"></i> External Links</h4>
            <div class="field">
                <label>Poster Url</label>
                <input type="text">
            </div>

            <div class="field">
                <label>Trailer Url</label>
                <input type="text">
            </div>

            <div class="field">

                <div class="two fields">
                    <div class="field">
                        <label>Amount</label>
                        <input type="text" name="shipping[first-name]" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Release Date</label>
                        <div class="ui calendar" id="example1">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date/Time">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ui button" tabindex="0">Save Movie</div>
        </form>
    </div>
</div>

<div class="col-md-4" style="padding-top:15px;border-left:2px solid #fff;height:40px">
   <h4 class="ui dividing header">Add Media</h4>
</div>

<script>
    $('#example1').calendar();
</script>











