
@{
    ViewBag.Title = "ViewMovie";
}

<h4 class="ui dividing header"></h4>

<div class="row" style="padding-left:20px" id="cardMovie">
  
</div>
<!--/row-->

<script src="~/Scripts/app/movie/view.js"></script>
